@model myapp.Areas.Student.Models.StudentUpdatePasswordModel;

<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
				<li class="breadcrumb-item  active"><a href="javascript:void(0)">Change Password</a></li>
			</ol>
		</div>
			<!-- row -->
		<div class="row">
			<div class="col-xl-12">
				<div class="card h-auto">
					<div class="card-body">
						<div class="post-details">
							<div class="comment-respond" id="respond">
								<h3 class="comment-reply-title text-primary mb-5" id="reply-title">Update Password </h3>
								<form class="comment-form" action="@Url.Action("UpdatePassword","Home",new {area="Student"})" id="commentform" method="post">
									<div class="row d-flex flex-columns justify-content-center">
										<input type="hidden" value="@Globals.GetStudentID().Value"/>
										<div class="col-lg-11">
											<div class="mb-3">
												<label asp-for="CurrentPassword" class="text-black font-w600 form-label">Current Password <span class="required">*</span></label>
												<input type="password" asp-for="CurrentPassword" class="form-control" id="author">
												<span class="text-danger" asp-validation-for="CurrentPassword"></span>
											</div>
										</div>
										<div class="col-lg-11">
											<div class="mb-3">
												<label asp-for="NewPassword" class="text-black font-w600 form-label">New Password <span class="required">*</span></label>
												<input type="password" asp-for="NewPassword" class="form-control" id="email">
												<span class="text-danger" asp-validation-for="NewPassword"></span>
											</div>
										</div>
										<div class="col-lg-11">
											<div class="mb-3">
												<label asp-for="ConfirmPassword" class="text-black font-w600 form-label">Confirm Password <span class="required">*</span></label>
												<input type="password" asp-for="ConfirmPassword" class="form-control" id="comment" />
												<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
											</div>
										</div>
										<div class="col-lg-11">
											<div class="mb-3">
												<input type="submit" class="submit btn btn-primary" id="submit">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@if (TempData["Message"] != null)
	{
				<script>
					Swal.fire({
						title: 'Success!',
						text: '@Html.Raw(TempData["Message"])'
			@* icon: "success" *@
					});
				</script>
	}

	@if (TempData["ErrorMessage"] != null)
	{
				<script>
					Swal.fire({
						title: 'Error!',
						text: '@Html.Raw(TempData["ErrorMessage"])'
			@* icon: 'error' *@
					});
				</script>
	}
}