.vs
.env
env
appsettings.json

# --- Build Output (Standard .NET) ---
[Bb]in/
[Oo]bj/


.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates


.DS_Store
Thumbs.db

.env
env

appsettings.json
appsettings.Development.json
appsettings.Production.json

TestResults/
*.tr*

*.pubxml