@{
    int CurrentYear = DateTime.Now.Year;
}

<div class="footer">

    <div class="copyright">
        <p>Copyright © Hostel Management System; Developed by >Krishirajsinh Vansia  @CurrentYear</></p>
    </div>
</div>